{% style %}

.cart-upsell-products {
    margin-bottom: 20px;
}

h4.cart-upsell-title {
    color: var(--Green-girls-Black, #0A180A);
    font-family: "Mona Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 16px;
}

.cart-upsell-swiper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

@media screen and (max-width: 768px){

h4.cart-upsell-title {
    font-size: 18px;
    margin: 0 0 12px;
}

}

{% endstyle %}

<div class="cart-upsell-products">
  <h4 class="cart-upsell-title">You May Also</h4>
  
  <div class="cart-upsell-swiper">
          {% for product in products %}
                {%- render 'new-product-card', product: product, section: section, show_button_icon: show_button_icon -%}
          {% endfor %}
  </div>
</div>
