{% style %}

.cart-upsell-products {
    background: #fff;
    margin: 0 -24px 10px;
    padding: 10px 24px;
}

h4.cart-upsell-title {
    color: var(--Green-girls-Black, #0A180A);
    font-family: "Mona Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 12px;
}

.cart-upsell-swiper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cart-upsell-products .hair-product-card__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F6EE;
    height: 130px;
    aspect-ratio: unset;
}

.cart-upsell-products .hair-product-card__image-wrapper img{
    max-width: 130px;
    margin: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px){

.cart-upsell-products {
    background: #fff;
    margin: 0 -16px 10px;
    padding: 10px 16px;
}

h4.cart-upsell-title {
    font-size: 16px;
    margin: 0 0 10px;
}

}

{% endstyle %}

<div class="cart-upsell-products">
  <h4 class="cart-upsell-title">You May Also</h4>
  
  <div class="cart-upsell-swiper">
          {% for product in products %}
                {%- render 'new-product-card', product: product, section: section, show_button_icon: show_button_icon -%}
          {% endfor %}
  </div>
</div>
