{% style %}

.cart-upsell-products {
    margin-bottom: 20px;
}

h4.cart-upsell-title {
    color: var(--Green-girls-Black, #0A180A);
    font-family: "Mona Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 16px;
}

.cart-upsell-swiper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

@media screen and (max-width: 768px){

h4.cart-upsell-title {
    font-size: 18px;
    margin: 0 0 12px;
}

}

{% endstyle %}

<div class="cart-upsell-products">
  <h4 class="cart-upsell-title">You May Also</h4>
  
  <div class="cart-upsell-swiper">
      {% comment %} <div class="swiper">
        <div class="swiper-wrapper"> {% endcomment %}
          {% for product in products %}
            {% comment %} <div class="swiper-slide"> {% endcomment %}
                {%- render 'new-product-card', product: product, section: section, show_button_icon: show_button_icon -%}
            {% comment %} </div> {% endcomment %}
          {% endfor %}
        {% comment %} </div>
      </div> {% endcomment %}
  </div>
</div>


{% comment %} <script>
function initCartUpsellSwiper() {
  document.querySelectorAll('.cart-upsell-products .swiper').forEach((slider) => {
    if (slider.swiper) return;

    new Swiper(slider, {
      slidesPerView: 2,
      spaceBetween: 8,
      grabCursor: true,
      observer: true,
      observeParents: true

    });
  });
}

document.addEventListener('DOMContentLoaded', initCartUpsellSwiper);

// Re-run when cart drawer content is updated
document.addEventListener('cart:refresh', initCartUpsellSwiper);
document.addEventListener('cart:updated', initCartUpsellSwiper);
</script> {% endcomment %}