{%- comment -%} 
----------------------------------------------------------------------------------------------------------------------
SHADOW DOM TEMPLATES
----------------------------------------------------------------------------------------------------------------------

This file defines various templates that we use for Shadow DOM (it is for now limited to drawer and popover). You can
override those if you wish to change the default layout of those elements. However you should be very careful as it
may break things in an unintended way.

Implementation note: most of those templates wrap the content inside a "base" part. This is the one that you should
use to provide the base style for your components. This allows the various web components to be able to efficiently
change the display CSS property without impacting your styles.
{%- endcomment -%}

{%- comment -%}
DRAWER: a drawer is a specialized dialog allowing to show extra piece of information to the user, and that requires
user attention. A drawer opens using a slide effect (on desktop) from left or right.
{%- endcomment -%}
<template id="drawer-default-template">
  <div part="base">
    <div part="overlay"></div>

    <div part="content">
      <header part="header">
        <slot name="header"></slot>

        <button type="button" is="dialog-close-button" part="close-button tap-area" aria-label="{{ 'general.accessibility.close' | t | escape }}">
          {% comment %} {%- render 'icon' with 'close', width: 14 -%} {% endcomment %}
          <svg class="my_icon" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.243386 0.243386C0.399427 0.0875378 0.610949 0 0.831488 0C1.05203 0 1.26355 0.0875378 1.41959 0.243386L14.7351 13.5589C14.8169 13.6351 14.8825 13.727 14.928 13.8291C14.9734 13.9312 14.9979 14.0414 14.9999 14.1531C15.0018 14.2648 14.9813 14.3758 14.9394 14.4795C14.8976 14.5831 14.8353 14.6772 14.7562 14.7562C14.6772 14.8353 14.5831 14.8976 14.4795 14.9394C14.3758 14.9813 14.2648 15.0018 14.1531 14.9999C14.0414 14.9979 13.9312 14.9734 13.8291 14.928C13.727 14.8825 13.6351 14.8169 13.5589 14.7351L0.243386 1.41959C0.0875378 1.26355 0 1.05203 0 0.831488C0 0.610949 0.0875378 0.399427 0.243386 0.243386Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7559 0.244061C14.9122 0.400536 15 0.612645 15 0.833796C15 1.05495 14.9122 1.26706 14.7559 1.42353L1.40345 14.776C1.24525 14.9234 1.03601 15.0037 0.819809 14.9999C0.603608 14.9961 0.397329 14.9085 0.244428 14.7556C0.0915278 14.6027 0.00394462 14.3964 0.000130017 14.1802C-0.00368458 13.964 0.0765671 13.7547 0.223979 13.5966L13.5765 0.244061C13.7329 0.0877808 13.9451 0 14.1662 0C14.3874 0 14.5995 0.0877808 14.7559 0.244061Z" fill="black"/>
          </svg>
        </button>
      </header>

      <div part="body">
        <slot></slot>
      </div>

      <footer part="footer">
        <slot name="footer"></slot>
      </footer>
    </div>
  </div>
</template>

{%- comment -%}
MODAL: a modal is a specialized dialog allowing to show extra piece of information to the user, and that requires
user attention. Contrary to the drawer which opens using a slide effect from one side of the page, a modal typically
opens at the middle of the page, and therefore provides a bigger impact.
{%- endcomment -%}
<template id="modal-default-template">
  <div part="base">
    <div part="overlay"></div>

    <div part="content">
      <header part="header">
        <slot name="header"></slot>

        <button type="button" is="dialog-close-button" part="close-button tap-area" aria-label="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon' with 'close', width: 14 -%}
        </button>
      </header>

      <div part="body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

{%- comment -%}
POPOVER: a popover is a kind of specialized dialog that requires user attention (to do a selection for instance) but
that does not open full width (it stays in the flow of the page).
{%- endcomment -%}
<template id="popover-default-template">
  <div part="base">
    <div part="overlay"></div>

    <div part="content">
      <header part="header">
        <slot name="header"></slot>

        <button type="button" is="dialog-close-button" part="close-button tap-area" aria-label="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon' with 'close', width: 14 -%}
        </button>
      </header>

      <div part="body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

{%- comment -%}
HEADER SEARCH: this is the header search when the user click on the search icon
{%- endcomment -%}
<template id="header-search-default-template">
  <div part="base">
    <div part="overlay"></div>

    <div part="content">
      <slot></slot>
    </div>
  </div>
</template>

{%- comment -%} VIDEO MEDIA {%- endcomment -%}
<template id="video-media-default-template">
  <slot></slot>

  <svg part="play-button" fill="none" width="48" height="48" viewBox="0 0 48 48">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M48 24c0 13.255-10.745 24-24 24S0 37.255 0 24 10.745 0 24 0s24 10.745 24 24Zm-18 0-9-6.6v13.2l9-6.6Z" fill="var(--play-button-background, {{ settings.background }})"/>
  </svg>
</template>