.main_pdp-wrapper details.accordion.group {
    border: none;
    border-bottom: var(--stroke-weight-1, 1px) solid var(--color-grey-91, #E9E8E8);
    background: transparent;
}

.main_pdp-wrapper span.accordion__toggle {
    padding: 10px 0 16px;
}

.main_pdp-wrapper span.accordion__toggle span.text-with--icon {
    color: #101010;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main_pdp-wrapper details.accordion.group .accordion__content.prose {
    color: #101010;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 16px;
}

.main_pdp-wrapper .product-title {
    color: #000;
    font-family: "Mona Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-bottom: 16px;
}

.pdp-rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

span.pdp-rating-text {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

span.pdp-rating-text strong {
    font-weight: 600;
}

.pdp_subtitle {
    color: #101010;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    margin: 0 0 16px;
}

.pdp_shortdesc {
    color: #101010;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
}

.cstm-buy__btn {
    border-radius: 41px;
    background: var(--Yellow, #FBDD40);
    padding: 18px 30px;
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 148%;
    text-transform: capitalize;
    margin: 32px 0 16px;
    transition: all 0.3s ease;
}

.cstm-buy__btn:hover{
    transform: translatey(-3px);
}

.product.main_pdp-wrapper .product-info__block-item {
    margin: 0;
}

.main_pdp-wrapper .product-info__block-group.accordion-group {
    margin-top: 22px;
}

@media screen and (max-width: 768px){

.main_pdp-wrapper .product-title {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 12px;
}

.pdp_subtitle {
    font-size: 14px;
    margin-bottom: 12px;
}

.pdp_shortdesc {
    font-size: 14px;
    line-height: 120%;
}

.main_pdp-wrapper span.accordion__toggle span.text-with--icon {
    font-size: 16px;
}

.pdp-rating {
    margin-bottom: 12px;
}

.cstm-buy__btn {
    margin: 20px 0 16px;
}

.main_pdp-wrapper .product-info__block-group.accordion-group {
    margin-top: 10px ;
}

}